name: Manual deployment
# Use with caution

on:
  workflow_dispatch:

jobs:

  deploy-maven-repo:
    name: Publish Pogues-Model on Maven
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v1
        env:
          GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      - uses: s4u/maven-settings-action@v4.0.0
        with:
          githubServer: false
          servers: |
            [
              {
                  "id": "central",
                  "username": "${{ secrets.MAVEN_CENTRAL_USERNAME }}",
                  "password": "${{ secrets.MAVEN_CENTRAL_TOKEN }}"
              }
            ]
      - name: Publish Pogues-Model
        run: mvn --batch-mode clean deploy -Pdeploy -DskipTests=true --no-transfer-progress
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
